{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "tmpDir": "var",
    "mutators": {
        "@default": true,
        "NullSafeMethodCall": false,
        "NullSafePropertyCall": false
    },
    "minCoveredMsi": 95
}
